exportPattern("^[[:alpha:]]+")
export(`%|%`)
export('.fromRCPP')
export('.readDataSetToEnd')
export('.readDataSetHeader')
export('.unv')
export('.v')
export('.clean')
export('.hasErrors')
export('.extractErrorMessage')
export('.setSeedJASP')
export('VovkSellkeMPR')
export('.newFootnotes')
export('.addFootnote')
export('.diff')
export('.unvf')
export('.messages')
export('.quietDuringUnitTest')
export('.dataFrameToRowList')
